@charset "utf-8";
/*selector universal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
/*se declara los colores en variables para reutilizarlos más adelante,
en una manera más sencilla*/
:root{
    --clr-gold: #e6ba53;
    --clr-beige: #c7c9bd;
    --clr-purple: #1a133b;
}
/*se aplica estilos al elemento body*/
body{
    background-color: var(--clr-purple);
    color: var(--clr-beige);
}
/*se aplica estilos al elemento header, con características mas responsivos*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--clr-beige);
    color: var(--clr-purple);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
/*al pasar el puntero sobre el h1, cambia de color y aplica una sombra*/
h1:hover{
    text-shadow: 2px -1px 13px #bd44bd;
    color: #bd44bd;
}
/*aplica estilos al elemento main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.instrucciones{
    margin-bottom: 2rem;
}
/*se aplica estilos a la clase marcador, para visualizar los resultados.*/
.marcador{
    background-color: var(--clr-gold);
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--clr-purple);
    font-weight: 600;
    margin-bottom: 2rem;
}
.marcador .nombre{
    position: absolute;
    color: var(--clr-beige);
    background-color: var(--clr-purple);
    line-height: 1;
    padding:.5rem;
    border-radius: .5rem;
    border: 2px solid var(--clr-gold);
}
.marcador .nombre-jugador{
    right: 85%;
}
.marcador .nombre-computadora{
    left: 85%;
}
.marcador .puntos{
    font-size: 1.6rem;
}
.elegi-tu-arma{
    margin-bottom: 2rem;
}
.elegi-tu-arma h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}
/*se aplican estilos para la seleccion de piedra, papel o tijera*/
.armas{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.arma{
    font-size: 2rem;
    background-color: var(--clr-beige);
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}
/*al pasar el cursor sobre las opciones, estas cambian de tamaño;
también se adaptan a varios navegadores.*/
.arma:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
 }
 /*se aplica estilo a la clase mensaje, donde se puede visualizar
 lo que seleccionó el usuario y la opción que eligió la computadora*/
.mensaje{
    margin-bottom: 2rem;
    line-height: 1.8;
}
.mensaje .eleccion{
    color: var(--clr-purple);
    background-color: var(--clr-gold);
    border-radius:.25rem;
    padding-inline: .25rem;
}
/*el boton de reiniciar juego, aparece luego de conocer quien es el ganador*/
.btn{
    border: 0;
    line-height: 1;
    background-color: var(--clr-beige);
    color: var(--clr-purple);
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease;
}
/*al pasar el cursor sobre el boton de reiniciar juego, este cambia de tamaño,
con un efecto de transicion, que se aplicó en la clase .btn */
.btn:hover{
   font-size: 1.2rem;
    background: var(--clr-beige);
    color: #bd44bd;
}
/*Este estilo se aplica al boton de reiniciar juego, lo que hace que se oculte 
durante la partida, hasta que se conozca el ganador, y se pueda optar por 
reiniciar el juego.*/
.disable{
    display: none;
}